
/*when specifiying a size of a box or searching for height of a box, 
returns the padding and border.*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*By adding the padding, we can make sure that we will have a 16px offset from 
the left and right sides, even if the viewport size is less 
than the maximum width. The padding acts as a protective strategy that 
avoids making the wrapper sticking to the viewport edges when space is not enough.
*/

.page-wrapper
{
    max-width: 1170px;
    margin-left:auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right:16px;
    background-color: #d9dcd6;
}

img
{
    max-width: 150px;
}


a {
    color: #ffffff;
    text-decoration: none;
}

/*header class */

.heading
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a607c;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.heading h1
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
}

header h1 .seo {
    color: #d9dcd6;
}


.header-nav
{
    padding-right: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header-nav ul li
{
    text-decoration:none;
    display: inline-block;
}


.hero {
   height: 25vh;
   background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content
{
    display:flex;
    max-height: auto;
    border: 1px solid purple;
}

.ctr-articles, .rt-articles
{
    display:flex;
    flex-direction: column;
    max-height: auto;
    margin: 5px;
    background-color: #0072bb;
    border: 1px solid purple;
    color: #ffffff;
}

.ctr-articles
{
    max-width:75%;
}

.rt-articles
{
    max-width: 25%;
}

.ctr-article
{

margin-bottom: 20px;
padding: 50px;
height: 300px;
display:flex;
flex-direction: row;
max-height: auto;

}


.ctr-text
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

/* right side div */

.rt-article
{

max-height: auto;
display:flex;
flex-direction: row;

}


.rt-txt
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


