/*Brendan Lewis 2021*/

/****************/
/*global styles*/
/****************/

.page-wrapper
{
    max-width: 1170px;
    margin-left:auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right:16px;
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*paragraph and header global*/

p,h1, h2, h3
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

h2
{
    margin:2px;
    text-align: left;
    font-size: 30px;
}

img
{
    max-width: 300px;
    height: auto;
}

.hero {
    height: 35vh;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/****************/
/*header setup and styling */
/****************/
.heading
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a607c;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.heading h1
{
    font-size:40px;
    margin-left: 10px;
}

header h1 .seo {
    color: #d9dcd6;
}


.header-nav
{
    padding-right: 10px;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header-nav ul li
{
    text-decoration:none;
    display: inline-block;
    padding: 20px;

}

/**********************************************************/
/* main content and sidebar container setup using flexbox */
/**********************************************************/
.flex-container
{
    display:flex;
}

.main-section
{
    flex:1 1 75%;

}

.sidebar
{
    flex: 1 1 25%;
    background-color: #2589bd;
}

/************************************/
/*main content and sidebar styling */
/************************************/
.ctr-article
{
    display:flex;
    background-color: #0072bb;
    margin-bottom: 10px;
    margin-right: 10px;
    padding:50px;
}
.rt-content
{
    text-align: center;
}
.rt-content p
{
    text-align: left;
}

.rt-content img
{
    max-width: 150px;
    height: auto;
}


.ctr-img,.ctr-txt
{
    padding:10px;
    margin:2px;
}


/******************************/
/**********footer**************/
/******************************/
.footer
{
    background-color:#2a607c;
    margin-right: 10px;

}



